{% extends 'wafer/base.html' %}
{% load i18n %}
{% block content %}
<h1>{% trans 'Activation complete' %}</h1>
<p>
{% url 'auth_login' as login_url %}
{% blocktrans %}
    Your account is now activated!
    Please <a href="{{ login_url }}">log in</a> so your can register for
    {{ WAFER_CONFERENCE_NAME }}.
{% endblocktrans %}
</p>
{% endblock %}
