{% extends "wafer/base.html" %}
{% load i18n %}
{% block title %}{{ object.name }} - {{ WAFER_CONFERENCE_NAME }}{% endblock %}
{% block content %}
{% with room_short_name=object.name.split|last|lower|slugify %}
<section class="wafer">
  {% if object.video %}
    <div id="video">
        <div class="container">
            <div class="video-container">
                <video id="live-stream" class="video-js vjs-default-skin vjs-big-play-centered" controls width="1280" height="720">
                    <source src="https://local.live.debconf.org/live/{{ room_short_name }}.m3u8" type='application/x-mpegURL' label='High'>
                </video>
            </div>
        </div>
    </div>
  {% endif %}
  <h1>{{ object.name }}</h1>
  <div>
    {{ object.notes_html|safe }}
  </div>
  {% if object.video %}
    <h2>Other ways to watch the video</h2>
    <div>
      vlc, mplayer, and mpv understand HLS streaming.
      Use the URL: <code id="direct-link">https://local.live.debconf.org/redir/live/{{ room_short_name }}.m3u8</code>
    </div>
  {% endif %}
</section>
{% endwith %}
{% endblock %}
{% block extra_foot %}
<script type="text/javascript">
  'use strict';

  function find_closest_video_mirror(callback) {
    var source_elts = $('#live-stream source');
    var code_elts = $('#direct-link');

    $.ajax({
      url: 'https://local.live.debconf.org/local-server',
    }).done(function(country_code) {
      var src_url = source_elts[0].src;
      var url = src_url.replace(/local\.live\.debconf\.org/, country_code + '.live.debconf.org');
      source_elts.attr('src', url);
      for (var i = 0; i < code_elts.length; i++) {
        code_elts[i].innerHTML = url;
      }
      callback();
    });
  }

  function init_video() {
    var p = videojs('live-stream');
    p.qualityLevels();
    p.hlsSourceSelector();
  };

  $(function() {
    find_closest_video_mirror(init_video);
  });
</script>
{% endblock %}
